.banner {
  /* .banner__inner */

  &__inner {
  }

  /* .banner__content */

  &__content {
    @include small-tablet {
      border-radius: 12rem;
      padding: 8rem;
      display: flex;
      flex-direction: column;
      gap: 20rem;
      background: $white;
    }
  }

  /* .banner__img */

  &__img {
    border-radius: 40rem;
    width: 100%;
    height: 785rem;
    overflow: hidden;
    @include small-tablet {
      border-radius: 10rem;

      height: 546rem;
    }
  }

  /* .banner__link */

  &__link {
    position: fixed;
    z-index: 8;
    bottom: 60rem;
    right: 65rem;
    width: 160rem;
    height: 160rem;
    border-radius: 50%;
    background: url(./assets/images/bannerLinkBefore.svg) no-repeat top/cover;
    box-shadow: 0 2rem 5rem 0 rgba(97, 97, 97, 0.1), 0 9rem 9rem 0 rgba(97, 97, 97, 0.09), 0 21rem 13rem 0 rgba(97, 97, 97, 0.05),
      0 37rem 15rem 0 rgba(97, 97, 97, 0.01), 0 58rem 16rem 0 rgba(97, 97, 97, 0);
    transition: bottom 0.4s;
    &::before {
      content: '';
      width: 146rem;
      height: 146rem;
      border-radius: 50%;
      position: absolute;
      background: $blue-gradient;
      @include small-tablet {
        width: 83rem;
        height: 83rem;
      }
    }

    @include small-tablet {
      width: 90rem;
      height: 90rem;

      right: 8rem;
      bottom: 185rem;
      &.cookie--hide {
        bottom: 16rem;
      }

      &.cookie--hide.near-end {
        bottom: 100rem;
      }
    }
  }

  /* .banner__svg-rotate */

  &__svg-rotate {
    width: 143rem;
    height: 143rem;
    z-index: 1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include small-tablet {
      width: 80.5rem;
      height: 80.5rem;
    }
  }

  /* .banner__svg-center */

  &__svg-center {
    width: 81rem;
    height: 59rem;
    position: relative;
    z-index: 1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include small-tablet {
      width: 50.5rem;
      height: 39.5rem;
    }
  }

  &__btn {
    display: none;
    @include small-tablet {
      display: flex;
      width: 100%;
    }
  }
}
