.faq {
  /* .faq__inner */

  &__inner {
    padding: 60rem 66rem;
    border-radius: 40rem;
    background: $white;
    gap: 40rem;
    @include small-tablet {
      border-radius: 12px;
      padding: 16px 8px 8px;
      gap: 20rem;
    }
  }

  /* .faq__title */

  &__title {
  }

  /* .faq__accordion */

  &__accordion {
    gap: 16rem;
    @include small-tablet {
      gap: 8rem;
    }
  }

  /* .faq__item */

  &__item {
    background: #f2f6f8;
    padding: 46rem 40rem;
    border-radius: 20rem;
    cursor: pointer;
    &.isActive {
      & .faq__plus {
        & .opacity {
          rotate: 90deg;
        }
      }
    }

    @include small-tablet {
      border-radius: 12px;
      padding: 12px;
    }
  }

  /* .faq__head */

  &__head {
    @include small-tablet {
      & .txt24 {
        font-size: 20rem;
        width: 265rem;
      }
    }
  }

  /* .faq__plus */

  &__plus {
    width: 32rem;
    height: 32rem;
    @include small-tablet {
      width: 24rem;
      height: 24rem;
    }
    & svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .opacity {
      transition: rotate 0.3s;
      transform-origin: center center;
    }
  }

  /* .faq__info */

  &__info {
    margin-top: 50rem;
    width: 945rem;
    display: none;
    @include small-tablet {
      width: 100%;
      margin-top: 24rem;
    }
  }
}
