.footer {
  margin-bottom: 48rem;
  @include small-tablet {
    margin-bottom: 15rem;
  }
  /* .footer__inner */

  &__inner {
    gap: 11rem;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .footer__bibliography */

  &__bibliography {
    gap: 8rem;
    color: #636363;
    margin-left: 67rem;
    width: 1050rem;
    @include small-tablet {
      margin-left: 0;

      font-size: 12rem;
      width: 100%;
    }
  }

  /* .footer__nav */

  &__nav {
    background: url(./assets/images/footerBg.webp) no-repeat top/cover, linear-gradient(307deg, #f9a223 0%, #fd670e 100%);
    border-radius: 40rem;
    padding: 24rem 68rem;
    color: $white;

    @include small-tablet {
      background: url(./assets/images/footerBgMob.webp) no-repeat top/cover, linear-gradient(307deg, #f9a223 0%, #fd670e 100%);
      border-radius: 24rem 24rem 0 0;
      padding: 32rem 12rem;
      margin: 0 -8rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 22rem;
    }
  }

  /* .footer__logo */

  &__logo {
    width: 163rem;
    height: 25rem;
    @include small-tablet {
      width: 164rem;
      height: 27rem;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* .footer__info-box */

  &__info-box {
    gap: 121rem;
    @include small-tablet {
      flex-direction: column;
      gap: 24rem;
      align-items: flex-start;
    }
  }

  /* .footer__info */

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    width: 427rem;
    @include small-tablet {
      font-size: 12rem;
      width: 100%;
      gap: 16px;
    }
  }

  /* .footer__list */

  &__list {
    grid-template-columns: repeat(2, auto);
    gap: 25rem 100rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 20rem;
    }
  }

  /* .footer__link */

  &__link {
    text-decoration: underline;
  }

  /* .footer__disclaimer */

  &__disclaimer {
    margin-top: 29rem;
    @include small-tablet {
      margin-top: 0;
    }
  }
}

.cookie {
  position: fixed;
  border-radius: 20rem;
  padding: 32rem 40rem;
  background: $white;
  left: 90rem;
  bottom: 60rem;
  width: 700rem;
  gap: 24rem;

  box-shadow: 0 4rem 8rem 0 rgba(133, 60, 0, 0.1), 0 15rem 15rem 0 rgba(133, 60, 0, 0.09), 0 34rem 20rem 0 rgba(133, 60, 0, 0.05),
    0 60rem 24rem 0 rgba(133, 60, 0, 0.01), 0 94rem 26rem 0 rgba(133, 60, 0, 0);
  background: #fff;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.4s, z-index 0.4s, bottom 0.4s;
  &--show {
    opacity: 1;
    visibility: visible;
    z-index: 8;
  }
  @include small-tablet {
    width: 359rem;
    border-radius: 16rem;
    padding: 16rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8rem;
  }
  & .txt20 {
    @include small-tablet {
      font-size: 16rem;
    }
  }
  & .blue-btn {
    padding: 20rem 98rem;
    @include small-tablet {
      font-weight: 600;
      font-size: 18rem;
      padding: 14rem;
      width: 100%;
    }
  }
}
