.where {
  /* .where__inner */

  &__inner {
    min-height: 643rem;
    padding: 60rem 67rem 15rem 67rem;
    border-radius: 40rem;
    gap: 40rem;
    background: url(./assets/images/bannerBg.webp) no-repeat top/cover, linear-gradient(338deg, #f9a825 0%, #ff3d00 100%);

    @include small-tablet {
      min-height: auto;
      padding: 14rem 8rem 10rem;
      gap: 22rem;
      border-radius: 24rem;
    }
  }

  /* .where__title */

  &__title {
    color: $white;
    & sup {
      font-size: 46rem;
      @include small-tablet {
        font-size: 20rem;
      }
    }
    @include small-tablet {
      text-align: center;
    }
  }

  /* .where__content */

  &__content {
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 13rem;
    @include small-tablet {
      gap: 6rem;
    }
  }
  &__disclaimer {
    font-style: italic;
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: $white;
    width: 920rem;
    @include small-tablet {
      width: 100%;
      font-size: 12rem;
    }
  }
}
.uteka-widget {
  /* Минимально поддерживаемые размеры виджета: 320x520. */
  width: 100%;
  height: 700rem;
  outline: 1rem solid #e0e0e0;
  border-radius: 40rem;
  overflow: hidden;
  background: #fff;
  @media (max-width: 1280px) {
    height: 750rem;
  }
  @media (max-width: 768px) {
    height: 550rem;
    border-radius: 18rem;

    width: 343rem;
  }
}

.uteka-widget iframe {
  border: none;
  width: 100%;
  height: calc(100% - 57rem);
  @media (max-width: 768px) {
  }
}

.uteka-widget__container {
  margin: 0 auto;
  padding: 0 16rem;
}

@media (min-width: 600px) {
  .uteka-widget__container {
    padding: 0 20rem;
  }
}

@media (min-width: 768px) {
  .uteka-widget__container {
    padding: 0 40rem;
  }
}

@media (min-width: 1024px) {
  .uteka-widget__container {
    padding: 0 44rem;
  }
}

@media (min-width: 1440px) {
  .uteka-widget__container {
    padding: 0 60rem;
    max-width: 1440rem;
  }
}

.uteka-widget-header {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.uteka-widget-header__inner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 56rem;
}

.uteka-widget-header__title {
  background: url('https://widget.uteka.ru/static/img/widgets/title_2@mobile.svg') no-repeat top/contain;
  background-position: center;
  width: 230rem;
  height: 24rem;
}

.uteka-widget-header__logo {
  height: 16rem;
}

.uteka-widget-header__logo img {
  height: 100%;
}

.uteka-widget-header__close {
  position: absolute;
  top: 0;
  right: -8rem;
  bottom: 0;
  z-index: 5;
  margin: auto;
  width: 32rem;
  height: 32rem;
  background: url('https://widget.uteka.ru/static/img/widgets/close_2.svg') no-repeat top/cover;
}

@media (min-width: 1024px) {
  .uteka-widget-header__inner {
    flex-direction: row;
  }

  .uteka-widget-header__title {
    background-image: url('https://widget.uteka.ru/static/img/widgets/title_2.svg') no-repeat top/cover;
    width: 264rem;
    height: 24rem;
  }

  .uteka-widget-header__logo {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 32rem;
  }
}
[class$='copyright'] {
  display: none !important;
}
