<section class="about">
  <div class="about__inner container flex dc">
    <div class="about__title">
      <p class="txt28">
        <span class="tl3">ВольтаФлекс</span>
        – флексокинетик
        <sup>1</sup>
        с уникальной формулой2 неденатурированного коллагена UC-II3, витамина С и микроэлементов. Более 20 лет разработок  и 10
        клинических исследований научно доказали действие коллагена II типа UC-II3 производства Лонза. ​ 
      </p>
    </div>
    <div class="about__content relative">
      <ul class="about__list grid">
        <li class="about__item flex cv">
          <div class="about__svg">
            <img src="./assets/images/aboutSvg1.svg" alt="" />
          </div>
          <p class="txt26">Улучшение двигательной активности и выносливости</p>
        </li>
        <li class="about__item flex cv">
          <div class="about__svg">
            <img src="./assets/images/aboutSvg2.svg" alt="" />
          </div>
          <p class="txt26">Выработка собственного коллагена II типа</p>
        </li>
        <li class="about__item flex cv">
          <div class="about__svg">
            <img src="./assets/images/aboutSvg3.svg" alt="" />
          </div>
          <p class="txt26">Предотвращение разрушения хряща всех суставов</p>
        </li>
        <li class="about__item flex cv">
          <div class="about__svg">
            <img src="./assets/images/aboutSvg4.svg" alt="" />
          </div>
          <p class="txt26">Уменьшение дискомфортав суставах</p>
        </li>
      </ul>
      <div class="about__img absolute">
        <img src="./assets/images/aboutImg.webp" alt="" />
      </div>
    </div>
  </div>
</section>
