<section class="about">
  <div class="container">
    <div class="about__inner flex dc">
      <div class="about__title">
        <p class="txt28 regular">



         <span class="tl3 semibold">ВольтаФлекс</span> 
         – флексокинетик<sup>1</sup>
          с уникальной формулой<sup>2</sup>
           неденатурированного коллагена UC-II<sup>®3</sup>,
           витамина С и микроэлементов. Более 20 лет разработок  и 10 клинических исследований<sup>5</sup>
            научно доказали действие коллагена II типа UC-II<sup>®</sup> производства Лонза. ​ 
        </p>
      </div>
      <div class="about__content relative">
        <div class="about__list-wrap flex dc">
          <p class="txt26">Благодаря коллагену II типа UC-II(R)<sup>®</sup> ВольтаФлекс способствует:</p>

          <ul class="about__list grid">
            <li class="about__item flex cv">
              <div class="about__svg">
                <img src="./assets/images/aboutSvg1.svg" alt="" />
              </div>
              <p class="txt26">Улучшению двигательной активности и выносливости</p>
            </li>
            <li class="about__item flex cv">
              <div class="about__svg">
                <img src="./assets/images/aboutSvg2.svg" alt="" />
              </div>
              <p class="txt26">Выработке собственного коллагена II типа</p>
            </li>
            <li class="about__item flex cv">
              <div class="about__svg">
                <img src="./assets/images/aboutSvg3.svg" alt="" />
              </div>
              <p class="txt26">Предотвращению разрушения хряща всех суставов</p>
            </li>
            <li class="about__item flex cv">
              <div class="about__svg">
                <img src="./assets/images/aboutSvg4.svg" alt="" />
              </div>
              <p class="txt26">
                Уменьшению дискомфорта
                <br />
                в суставах
              </p>
            </li>
          </ul>
        </div>
        <div class="about__info-box">
          <div class="about__img absolute" data-da=".about__title,768, 2">
            <img src="./assets/images/aboutImg.webp" alt="" />
          </div>

          <a href="#" class="about__btn txt20 semibold blue-btn">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
