<section class="banner _first">
  <div class="banner__inner container relative">
    <div class="banner__content flex dc">
      <div class="banner__head flex dc">
        <div class="banner__title flex dc">
          <div class="banner__logo">
            <img src="./assets/images/logoBanner.svg" alt="" />
          </div>
          <p class="banner__subtitle tl2">Для здоровья суставов и позвоночника</p>
        </div>
        <a href="#" class="banner__btn blue-btn txt22">Получить кэшбэк</a>
      </div>
      <div class="banner__info relative">
        <ul class="banner__info-list flex dc">
          <li class="banner__info-item flex cv">
            <div class="banner__info-svg">
              <img src="./assets/images/bannerSvg1.svg" alt="" />
            </div>
            <p class="banner__info-text txt24">Купите ВольтаФлекс</p>
          </li>
          <li class="banner__info-item flex cv">
            <div class="banner__info-svg">
              <img src="./assets/images/bannerSvg2.svg" alt="" />
            </div>
            <p class="banner__info-text txt24">Отсканируйте чек</p>
          </li>
          <li class="banner__info-item flex cv">
            <div class="banner__info-svg">
              <img src="./assets/images/bannerSvg3.svg" alt="" />
            </div>
            <p class="banner__info-text txt24">Получите кэшбэк</p>
          </li>
        </ul>
        <div class="banner__info-img absolute">
          <img src="./assets/images/banner.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="banner__img absolute">
      <img src="./assets/images/bannerDecor.webp" alt="" />
    </div>
    <a href="#" class="banner__link absolute flex-cc">
      <div class="banner__svg-rotate absolute">
        <img src="./assets/images/bannerCircle.svg" alt="" />
      </div>
      <div class="banner__svg-center">
        <img src="./assets/images/recept.webp" alt="" />
      </div>
    </a>
  </div>
</section>
