<section class="banner _first">
  <div class="banner__inner container relative">
    <div class="banner__content">
      <div class="banner__img flex dc">
        <picture>
          <source media="(max-width: 768px)" srcset="./assets/images/bannerMob.webp" type="image/webp" />
          <img src="./assets/images/bannerDesk.webp" alt="Описание изображения" />
        </picture>
      </div>

      <a href="" class="banner__btn blue-btn txt22">Участвовать в акции</a>
    </div>


    <a href="#" class="banner__link absolute flex-cc">
      <div class="banner__svg-rotate absolute">
        <img src="./assets/images/bannerCircle.svg" alt="" />
      </div>
      <div class="banner__svg-center">
        <img src="./assets/images/recept.webp" alt="" />
      </div>
    </a>
  </div>
</section>
