<section class="conditions" id="conditions">
  <div class="container">
    <div class="conditions__inner flex dc">
      <div class="conditions__head flex cv sb">
        <div class="conditions__title-box flex dc">
          <p class="tl1">
            Условия участия
            <br class="mobile" />
            в акции
          </p>
          <p class="txt24">Акция действует с 15.09.2025 по 28.02.2026</p>
        </div>
        <a href="" class="conditions__btn blue-btn txt22" data-da=".conditions__list-wrap,768, 1">Подробные условия акции</a>
      </div>
      <div class="conditions__list-wrap flex dc ">
        <ul class="conditions__list grid">
          <li class="conditions__item relative flex dc">
            <div class="conditions__billet txt24 semibold">Шаг 1</div>
            <p class="tl3">
              Купите ВольтаФлекс
              <br />
              в аптеке*
            </p>
            <div class="conditions__img absolute">
              <img src="./assets/images/conditionsImg1.webp" alt="" />
            </div>
          </li>
          <li class="conditions__item relative flex dc">
            <div class="conditions__billet txt24 semibold">Шаг 2</div>
            <p class="tl3">Введите промокод</p>
            <div class="conditions__img absolute">
              <img src="./assets/images/conditionsImg2.webp" alt="" />
            </div>
          </li>
          <li class="conditions__item relative flex dc">
            <div class="conditions__billet txt24 semibold">Шаг 3</div>
            <p class="tl3">
              Отсканируйте QR-
              <br />
              код чека
            </p>
            <div class="conditions__img absolute">
              <img src="./assets/images/conditionsImg3.webp" alt="" />
            </div>
          </li>
          <li class="conditions__item relative flex dc">
            <div class="conditions__billet txt24 semibold">Шаг 4</div>
            <p class="tl3">
              Получите кэшбэк
              <br />
              250 рублей**
            </p>
            <div class="conditions__img absolute">
              <img src="./assets/images/conditionsImg4.webp" alt="" />
            </div>
          </li>
        </ul>
        <ul class="conditions__disclamer">
          <li>
            *Не принимают участия в акции товары, приобретенные в маркетплейсах «Яндекс Маркет» (ООО «ЯНДЕКС МАРКЕТ»), OZON (ООО
            «Интернет решения»), Wildberries (ООО «РВБ»), «Мегамаркет» (ООО "МАРКЕТПЛЕЙС")
          </li>
          <li>**Общая сумма кэшбэка на один номер телефона не более 1250 рублей (за покупку 5 единиц продукции).</li>
        </ul>
      </div>
    </div>
  </div>
</section>
