<section class="conditions">
  <div class="conditions__inner container flex dc">
    <div class="conditions__head flex cv sb">
      <div class="conditions__title-box flex dc">
        <p class="tl1">Условия участия в акции</p>
        <p class="txt24">Акция действует с 01.07.2025 по 30.08.2025</p>
      </div>
      <a href="" class="conditions__btn blue-btn txt22">Подробные условия акции</a>
    </div>
    <ul class="conditions__list  grid">
      <li class="conditions__item relative flex dc">
        <div class="conditions__billet txt24 semibold">Шаг 1</div>
        <p class="tl3">
          Купите ВольтаФлекс
          <br />
          в любой аптеке
        </p>
        <div class="conditions__img absolute">
          <img src="./assets/images/conditionsImg1.webp" alt="" />
        </div>
      </li>
      <li class="conditions__item relative flex dc">
        <div class="conditions__billet txt24 semibold">Шаг 2</div>
        <p class="tl3">
          Отсканируйте QR-код чека
          <br />
          и введите промокод
        </p>
        <div class="conditions__img absolute">
          <img src="./assets/images/conditionsImg2.webp" alt="" />
        </div>
      </li>
      <li class="conditions__item relative flex dc">
        <div class="conditions__billet txt24 semibold">Шаг 3</div>
        <p class="tl3">
          Получите кэшбэк
          <br />
          до 250 рублей
        </p>
        <div class="conditions__img absolute">
          <img src="./assets/images/conditionsImg3.webp" alt="" />
        </div>
      </li>
      
    </ul>
  </div>
</section>
