<section class="faq" id="faq">
  <div class="container">
    <div class="faq__inner flex dc">
      <p class="faq__title tl1">Вопрос-ответ</p>
      <div class="faq__accordion flex dc">
        <!-- 1 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Кто является организатором Акции «Программа ВольтаФлекс»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус»</p>
          </div>
        </div>
        <!-- 2 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Какой период проведения Акции «Программа ВольтаФлекс»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">С 15 сентября 2025 года по 28 февраля 2026 года</p>
          </div>
        </div>
        <!-- 3 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Какая продукция принимает участие в Акции «Программа ВольтаФлекс»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              В Акции «Программа ВольтаФлекс» принимает участие «Вольтафлекс с коллагеном II типа, 30 таб».
            </p>
          </div>
        </div>
        <!-- 4 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Что такое кэшбэк?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              <span class="semibold">Кэшбэк</span>
              — это часть стоимости товара, которая возвращается покупателю после покупки, при условии регистрации участия в
              акции, загрузки чека за покупку товара и после автоматической его проверки.
              <br />
              Другими словами,
              <span class="semibold">кэшбэк</span>
              - это отложенная скидка.
            </p>
          </div>
        </div>
        <!-- 5 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Что нужно, чтобы получить кэшбэк?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              А) Купить в период проведения Акции «Программа ВольтаФлекс» продукт «Вольтафлекс с коллагеном II типа, 30 таб» в
              любой аптеке на территории Российской Федерации.
              <br />
              Продукт, приобретенный на маркетплейсах «Яндекс Маркет» (ООО «ЯНДЕКС МАРКЕТ»), OZON (ООО «Интернет решения»),
              Wildberries (ООО «РВБ»), «Мегамаркет» (ООО "МАРКЕТПЛЕЙС"), в акции не участвует.
              <br />
              Б) Зарегистрироваться/авторизоваться для участия в Акции «Программа ВольтаФлекс» на сайте по номеру телефона
              <br />
              В) Убедиться, что промокод, полученный от реферала, введен в соответствующее поле
              <br />
              Г) Загрузить чек за приобретенный продукт «Вольтафлекс с коллагеном II типа, 30 таб» любым удобным способом
              <br />
              Д) Дождаться начисления кэшбэка и выбрать желаемый вариант его выплаты

              <br />
            </p>
          </div>
        </div>
        <!-- 6 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Кто может принимать участие в Акции «Программа ВольтаФлекс»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              В Акции «Программа ВольтаФлекс» могут принять участие дееспособные, совершеннолетние граждане Российской Федерации,
              постоянно проживающие на территории Российской Федерации, имеющие номер мобильного телефона, зарегистрированный на
              территории субъектов Российской Федерации.
            </p>
          </div>
        </div>
        <!-- 7 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Где я могу купить продукт «Вольтафлекс с коллагеном II типа, 30 таб»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Купить продукт «Вольтафлекс с коллагеном II типа, 30 таб» можно в любой аптеке на территории Российской Федерации.
              Продукт, приобретенный на маркетплейсах «Яндекс Маркет» (ООО «ЯНДЕКС МАРКЕТ»), OZON (ООО «Интернет решения»),
              Wildberries (ООО «РВБ»), «Мегамаркет» (ООО "МАРКЕТПЛЕЙС"), в акции не участвует.
            </p>
          </div>
        </div>
        <!-- 8 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Существует ли ограничение на получение кэшбэка по Акции «Программа ВольтаФлекс»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Да, за весь период проведения Акции «Программа ВольтаФлекс» можно получить кэшбэк максимум за 5 (пять) купленных
              упаковок продукта «Вольтафлекс с коллагеном II типа, 30 таб» на одного зарегистрированного пользователя, то есть
              максимальная сумма кэшбэка за весь период проведения Акции «Программа ВольтаФлекс», которую можно получить,
              составляет 1250 (одна тысяча двести пятьдесят) рублей.
            </p>
          </div>
        </div>
        <!-- 9 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Куда я могу вывести кэшбэк?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Кэшбэк можно вывести на счет банковской карты или пополнением баланса лицевого счета мобильного телефона.
            </p>
          </div>
        </div>
        <!-- 10 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Что нужно для регистрации участия в Акции «Программа ВольтаФлекс»?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Регистрация участия в Акции «Программа ВольтаФлекс» осуществляется путем валидации по номеру мобильного телефона.
              Для этого в форме регистрации вводится номер мобильного телефона с последующей отправкой на указанный номер
              временного цифрового кода, который необходимо указать в соответствующей форме на сайте для успешного прохождения
              регистрации участия в Акции «Программа ВольтаФлекс».
            </p>
          </div>
        </div>
        <!-- 11 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Нужна ли повторная регистрация при каждой загрузке чека?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Нет, повторная регистрация не требуется. В случае, если вы не авторизованы в системе, авторизация осуществляется так
              же – путем получения временного цифрового кода на номер мобильного телефона и последующего ввода в соответствующее
              поле.
            </p>
          </div>
        </div>
        <!-- 12 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Где я могу взять промокод для получения кэшбэка?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Промокод на получение кэшбэка за покупку продукта «Вольтафлекс с коллагеном II типа, 30 таб» можно получить у
              реферала, являющегося сотрудником компании АО «Хелеон Рус».
            </p>
          </div>
        </div>
        <!-- 13 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Могу ли я участвовать в Акции «Программа ВольтаФлекс» без промокода?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">Нет, зарегистрировать чек можно только после ввода промокода, полученного от реферала.</p>
          </div>
        </div>
        <!-- 14 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Как я могу загрузить чек?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Для начала необходимо открыть виджет, нажав на кнопку «Участвовать в акции» или круглую кнопку «Регистрация чека»
              для запуска виджета загрузки чека.
              <br />
              Зарегистрировать чек за покупку продукта «Вольтафлекс с коллагеном II типа, 30 таб» возможно тремя способами:
              <br />
              1) отсканировав QR-код, указанный на чеке, с вашего смартфона;
              <br />
              2) загрузив фото чека;
              <br />
              3) введя вручную фискальные данные чека: ФН, ФД, ФП/ФПД, точную сумму покупки в рублях и копейках, дату продажи,
              время совершения покупки.

              <br />
            </p>
          </div>
        </div>
        <!-- 15 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Как быстро я должен загрузить чек?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">Чек необходимо отсканировать в течение 72 часов с момента покупки товара.</p>
          </div>
        </div>
        <!-- 16 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Существует ли ограничение по активированным промокодам?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">Нет, можно активировать неограниченное количество полученных промокодов.</p>
          </div>
        </div>
        <!-- 17 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Могу ли я зарегистрировать чек за покупку в маркетплейсе?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Нет, в Акции «Программа ВольтаФлекс» участвуют только чеки за покупку в аптеках на территории Российской Федерации.
            </p>
          </div>
        </div>
        <!-- 18 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">Как скоро я могу получить кэшбэк после регистрации чека?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">Как правило, кэшбэк начисляется в течение 3-х рабочих дней.</p>
          </div>
        </div>
        <!-- 19 -->
        <div class="faq__item">
          <div class="faq__head flex cv sb">
            <p class="txt24">У меня не получается зарегистрироваться или зарегистрировать чек. Что делать?</p>
            <div class="faq__plus">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  class="opacity"
                  d="M16 1.23438V30.9487"
                  stroke="#FF3D00"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="faq__info">
            <p class="txt20 medium">
              Убедитесь, что в точном прохождении шагов. В случае, если это не помогло, напишите нам в Telegram-бот (ссылка в
              виджете) или на электронную почту
              <a href="mailto:support@flexopromo.ru" class="semibold">support@flexopromo.ru</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
