<section class="faq">
  <div class="faq__inner container flex dc">
    <p class="faq__title tl1">Вопрос-ответ</p>
    <div class="faq__accordion flex dc">
      <div class="faq__item">
        <div class="faq__head flex cv sb">
          <p class="txt24">
            Как принять участие в акции на Вольтафлекс
            <sup>®</sup>
            ?
          </p>
          <div class="faq__plus">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                class="opacity"
                d="M16 1.23438V30.9487"
                stroke="#FF3D00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="faq__info">
          <p class="txt20">
            Чтобы стать участником акции, приобретите упаковку ВольтаФлекс® в период проведения акции, зарегистрируйте чек на
            сайте и следуйте инструкциям. За участие вы можете получить подарок или вернуть часть стоимости покупки. Подробные
            условия акции и сроки указаны в разделе «Подробные условия».
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head flex cv sb">
          <p class="txt24">Сколько раз можно участвовать в акции?</p>
          <div class="faq__plus">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                class="opacity"
                d="M16 1.23438V30.9487"
                stroke="#FF3D00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="faq__info">
          <p class="txt20">
            Чтобы стать участником акции, приобретите упаковку ВольтаФлекс® в период проведения акции, зарегистрируйте чек на
            сайте и следуйте инструкциям. За участие вы можете получить подарок или вернуть часть стоимости покупки. Подробные
            условия акции и сроки указаны в разделе «Подробные условия».
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head flex cv sb">
          <p class="txt24">Как узнать, что моя регистрация прошла успешно?</p>
          <div class="faq__plus">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                class="opacity"
                d="M16 1.23438V30.9487"
                stroke="#FF3D00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="faq__info">
          <p class="txt20">
            Чтобы стать участником акции, приобретите упаковку ВольтаФлекс® в период проведения акции, зарегистрируйте чек на
            сайте и следуйте инструкциям. За участие вы можете получить подарок или вернуть часть стоимости покупки. Подробные
            условия акции и сроки указаны в разделе «Подробные условия».
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head flex cv sb">
          <p class="txt24">
            Как принять участие в акции на Вольтафлекс
            <sup>®</sup>
            ?
          </p>
          <div class="faq__plus">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                class="opacity"
                d="M16 1.23438V30.9487"
                stroke="#FF3D00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M1.14258 16H30.8569" stroke="#FF3D00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="faq__info">
          <p class="txt20">
            Чтобы стать участником акции, приобретите упаковку ВольтаФлекс® в период проведения акции, зарегистрируйте чек на
            сайте и следуйте инструкциям. За участие вы можете получить подарок или вернуть часть стоимости покупки. Подробные
            условия акции и сроки указаны в разделе «Подробные условия».
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
