<footer class="footer">
  <div class="container">
    <div class="footer__inner flex dc">
      <ul class="footer__bibliography txt16 italic flex dc">
        <li>
          1. Флексокинетик — Флексо от лат. "flexus" улучшение гибкости суставов; Кинетик от греч. "κίνησις" (kinesis) улучшение
          двигательной активности
        </li>
        <li>2. С уникальной формулой — на российском рынке внутри портфеля Haleon</li>
        <li>3. UC-II — Товарный знак UC-II® принадлежит Лонза.</li>
        <li>
          4. Не принимают участия в акции товары, приобретенные в маркетплейсах «Яндекс Маркет» (ООО «ЯНДЕКС МАРКЕТ»), OZON (ООО
          «Интернет решения»), Wildberries (ООО «РВБ»), «Мегамаркет» (ООО "МАРКЕТПЛЕЙС")
        </li>
        <li>5. Екушева Е.В. с соавт. Профилактическая медицина.2025;28(4):1–9.</li>
        <li>СГР AM.01.20.01.003.R.000155.03.25</li>
      </ul>

      <div class="footer__nav flex cv sb">
        <a href="" class="footer__logo">
          <img src="./assets/images/haleonLogo.svg" alt="" />
        </a>
        <div class="footer__info-box flex cv">
          <div class="footer__info txt20 medium">
            АО «Хелеон Рус»
            <br />
            123112, город Москва, Пресненская наб., д.
            <br />
            10, помещ. III, комната 9, эт 6
            <br />
            Электронная почта:
            <a href="mailto:rus.info@haleon.com">rus.info@haleon.com</a>
          </div>
          <ul class="footer__list grid">
            <li>
              <a href="#" class="footer__link txt20 medium">Политика конфиденциальности</a>
            </li>
            <li>
              <a href="#" class="footer__link txt20 medium">Согласие на обработку персональных данных</a>
            </li>
            <li>
              <a href="#" class="footer__link txt20 medium">Правила акции</a>
            </li>
            <li>
              <a href="#" class="footer__link txt20 medium">Пользовательское соглашение</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__disclaimer disclaimer">
        <span class="desktop">
          БИОЛОГИЧЕСКИ АКТИВНАЯ ДОБАВКА.
          <br />
          НЕ ЯВЛЯЕТСЯ ЛЕКАРСТВЕННЫМ СРЕДСТВОМ
        </span>

        <span class="mobile">
          <img src="./assets/images/disclaimer.svg" alt="" />
        </span>
      </div>
    </div>
  </div>
</footer>

<div class="cookie cookie--show flex dc">
  <p class="txt20 medium">
    Этот сайт использует cookie для хранения данных. Продолжая использовать сайт, Вы даете согласие на работу с этими файлами.
  </p>

  <button class=" cookie__btn txt20 semibold blue-btn">Принять и закрыть</button>
</div>
<!-- 
<div class="fancybox-bg"></div> -->
<script>
  window.uteka = window.uteka || {};
  (window.uteka._host = 'widget.uteka.ru'), (window.uteka._queue = []);
  window.uteka._loaded = false;
  window.uteka.onReady = function (callback) {
    if (window.uteka._loaded) {
      return callback();
    }

    window.uteka._queue.push(callback);
  };

  var script = document.createElement('script');
  script.src = 'https://cdn.uteka.ru/static/widgets/widget.compiled.js?l=' + Date.now();
  script.async = true;
  script.addEventListener('load', function () {
    window.uteka._loaded = true;
    window.uteka._queue.forEach(function (callback) {
      callback();
    });
  });

  document.head.appendChild(script);

  window.uteka.onReady(function () {
    var widget = document.querySelector('.uteka-widget');

    // window.uteka.loadWidget(widget, {
    //   // productIds: [
    //   //   '431267',
    //   // ]

    // });

    window.uteka.loadWidget(widget, {
      productId: '431267'
    });
  });
</script>

<!-- <script>
  var script = document.createElement('script')
  script.src = 'https://cdn.uteka.ru/static/widgets/widget.simple.compiled.js?l=' + Date.now()
  script.async = true

  document.head.appendChild(script)
</script> -->
