<footer class="footer">
  <div class="footer__inner container flex dc">
    <ul class="footer__bibliography txt16 italic flex dc">
      <li>
        1. Флексокинетик — Флексо от лат. "flexus" улучшение гибкости суставов; Кинетик от греч. "κίνησις" (kinesis) улучшение
        двигательной активности
      </li>
      <li>2. С уникальной формулой — на российском рынке внутри портфеля Haleon</li>
      <li>3. UC-II — Товарный знак UC-II® принадлежит Лонза.</li>
      <li>СГР AM.01.20.01.003.R.000155.03.25</li>
    </ul>

    <div class="footer__nav flex cv sb">
      <a href="" class="footer__logo">
        <img src="./assets/images/haleonLogo.svg" alt="" />
      </a>
      <div class="footer__info-box flex cv">
        <div class="footer__info txt20 medium">
          АО «Хелеон Рус»
          <br />
          РФ, 123317, г. Москва,Пресненская наб., д. 10
          <br />
          Электронная почта:
          <a href="mailto:rus.info@haleon.com">rus.info@haleon.com</a>
        </div>
        <ul class="footer__list grid">
          <li>
            <a href="#" class="footer__link txt20 medium">Политика конфиденциальности</a>
          </li>
          <li>
            <a href="#" class="footer__link txt20 medium">Согласие на обработку персональных данных</a>
          </li>
          <li>
            <a href="#" class="footer__link txt20 medium">Правила акции</a>
          </li>
          <li>
            <a href="#" class="footer__link txt20 medium">Пользовательское соглашение</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__disclaimer disclaimer">
      БИОЛОГИЧЕСКИ АКТИВНАЯ ДОБАВКА.
      <br />
      НЕ ЯВЛЯЕТСЯ ЛЕКАРСТВЕННЫМ СРЕДСТВОМ
    </div>
  </div>
</footer>
<!-- 
<div class="fancybox-bg"></div> -->
<script>
  window.uteka = window.uteka || {};
  (window.uteka._host = 'widget.uteka.ru'), (window.uteka._queue = []);
  window.uteka._loaded = false;
  window.uteka.onReady = function (callback) {
    if (window.uteka._loaded) {
      return callback();
    }

    window.uteka._queue.push(callback);
  };

  var script = document.createElement('script');
  script.src = 'https://cdn.uteka.ru/static/widgets/widget.compiled.js?l=' + Date.now();
  script.async = true;
  script.addEventListener('load', function () {
    window.uteka._loaded = true;
    window.uteka._queue.forEach(function (callback) {
      callback();
    });
  });

  document.head.appendChild(script);

  window.uteka.onReady(function () {
    var widget = document.querySelector('.uteka-widget');

    window.uteka.loadWidget(widget, {
      productIds: [
        '97317',
        '97313',
        '360911',
        '348600',
        '348605',
        '348597',
        '369981',
        '348621',
        '348622'
      ]
    });
  });
</script>

<!-- <script>
  var script = document.createElement('script')
  script.src = 'https://cdn.uteka.ru/static/widgets/widget.simple.compiled.js?l=' + Date.now()
  script.async = true

  document.head.appendChild(script)
</script> -->