<header class="header" id="header">
  <div class="header__inner container flex cv sb">
    <a href="#" class="header__logo">
      <img src="./assets/images/headerLogo.svg" alt="" />
    </a>
    <nav class="header__nav flex cv">
      <ul class="header__nav-list flex cv">
        <li>
          <a href="#" class="header__nav-link txt20 medium">Условия участия</a>
        </li>
        <li>
          <a href="#" class="header__nav-link txt20 medium">Регистрация чека</a>
        </li>
        <li>
          <a href="#" class="header__nav-link txt20 medium">Вопрос-ответ</a>
        </li>
      </ul>
      <a href="" class="header__btn blue-btn txt22">Участвовать в акции</a>
    </nav>
  </div>
</header>
