<header class="header" id="header">
  <div class="container">
    <div class="header__inner flex cv sb">
      <a href="#" class="header__logo">
        <img src="./assets/images/headerLogo.svg" alt="" />
      </a>
      <nav class="header__nav flex cv">
        <ul class="header__nav-list flex cv">
          <li>
            <a href="#conditions" class="header__nav-link nav-link txt20 medium">Условия участия</a>
          </li>
          <li>
            <a href="#" class="header__nav-link nav-link txt20 medium">Регистрация чека</a>
          </li>
          <li>
            <a href="#faq" class="header__nav-link nav-link txt20 medium">Вопрос-ответ</a>
          </li>
        </ul>
        <a href="" class="header__btn blue-btn txt22">Участвовать в акции</a>
      </nav>

      <div class="header__burger ">
        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="scale" d="M1.24219 1H18.2422" stroke="#011F68" stroke-width="1.5" stroke-linecap="round" />
          <path class="left" d="M1.24219 8H18.2422" stroke="#011F68" stroke-width="1.5" stroke-linecap="round" />
          <path class="right" d="M1.24219 8H18.2422" stroke="#011F68" stroke-width="1.5" stroke-linecap="round" />
          <path class="scale" d="M1.24219 15H18.2422" stroke="#011F68" stroke-width="1.5" stroke-linecap="round" />
        </svg>
      </div>
    </div>
  </div>
</header>
