<div id="popup__attention" aria-hidden="true" class="popup popup--attention">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2488_6828)">
              <path
                d="M4.92578 5.38672L23.3106 23.7715"
                stroke="#727272"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.86719 23.7158L23.252 5.33104"
                stroke="#727272"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_2488_6828">
                <rect width="28" height="28" fill="white" transform="translate(0.121094 0.500488)" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <div class="popup__body-content-box">
          <div class="popup__body-content-text-box center">
            <p class="popup__body-content-title tl3 semibold">Обратите внимание!</p>
            <p class="popup__body-content-desk txt20 medium">
              Вы переходите на внешний интернет-ресурс.
              <br class="desktop" />
              Организатор акции не отвечает
              <br class="mobile" />
              за корректность данных, безопасность        <br class="mobile" />и содержание стороннего сайта.
            </p>
          </div>

          <div class="popup__body-btn-box">
            <a href="https://uteka.ru/" target="_blank" class="popup__body-btn blue-btn txt22">Перейти на сайт</a>
            <button class="popup__body-btn border-btn txt22" data-close>Отменить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
